###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Sho"]
list2 = ["y", "me", "s", "vo"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Sho', 'vo']]
```

In [5]:
list_1 = ["M", "na", "i", "Sho"]
list_2 = ["y", "me", "s", "vo"]

[[a,b] for a, b in zip(list_1, list_2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Sho', 'vo']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [38]:
def insert_after(num_list, target, value):
    for i in range(len(num_list)):
        if isinstance(num_list[i], list):
            insert_after(num_list[i], target, value)
        elif num_list[i] == target:
            num_list.insert(i + 1, value)
            return

list_1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
target = 6000
value = 7000

insert_after(list_1, target, value)
print(list_1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of fruits and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Mango','Banana','Pine Apple','Apple','Jack Fruit']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Mango-10
Banana-20
Pine Apple-34
Apple-74
Jack Fruit-32

```

In [53]:
candy_list = ['Mango','Banana','Pine Apple','Apple','Jack Fruit']
no_of_items = [10,20,34,74,32]

fruit_dict = {(a,b) for a, b in zip(candy_list, no_of_items)}

for key, val in fruit_dict:
    print(f"{key}-{value}")

Jack Fruit-7000
Banana-7000
Apple-7000
Mango-7000
Pine Apple-7000

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [69]:
list_1 = [1, 2, 3, 4, 5 , 6]
cur_sum = 0
[cur_sum:= cur_sum + i for i in list_1] #:= walrus operator

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
list_1 = [2,4,6,10,1]
[sum(j for j in list_1 if j > i) for i in list_1]

[20, 16, 10, 0, 22]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
num_1 = [23,45,67,78,89,34]
num_2 = [34,89,55,56,39,67]

print(sorted([i for i in num_1 if i in num_2]))

#set intersection (chatgpt)
print(sorted(set(num_1) & set(num_2)))
#more set operation( |=>union, - => difference, ^ => symmetric difference)

[34, 67, 89]
{89, 34, 67}

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [92]:
strings = ['1ac21', '23fg', '456', '098d','1','kls']

def product_of_numeric(st):
    product = 1
    for s in st:
        if s.isdigit():
            product *= int(s)
    
    return max(1, product)

print(sorted(strings, key=product_of_numeric, reverse=True))

['456', '23fg', '1ac21', '098d', '1', 'kls']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['Robin is learning Development', 'Mahedi Loves ML', 'I love Vibe Coding.']
```

Output:
```bash
['Robin', 'is', 'Learning', 'Development', 'Mehedi', 'Loves', 'ML','I', 'Love', 'Vibe', 'Coding.']
```

In [102]:
inp_list = ['Robin is learning Development', 'Mahedi Loves ML', 'I love Vibe Coding.']

print([word for s in inp_list for word in s.split()])

['Robin', 'is', 'learning', 'Development', 'Mahedi', 'Loves', 'ML', 'I', 'love', 'Vibe', 'Coding.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['s', 'h', 'o', 'v', 'o'], ['b', 'h','a', 'i'], ['i', 's'], ['b', 'e', 's', 't']]
```

Output:
```bash
shovo bhai is best
```

In [109]:
inp = [['s', 'h', 'o', 'v', 'o'], ['b', 'h','a', 'i'], ['i', 's'], ['b', 'e', 's', 't']]
result_str = ""
[result_str:= result_str + c for s in inp for c in s + [" "]]

print(result_str)

shovo bhai is best

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['shovoBhai', 'bestFor', 'machineLearning']
```

Output:
```bash
['shovo Bhai', 'best For', 'machine Learning']
```

In [1]:
inp_list = ['shovoBhai', 'bestFor', 'machineLearning']

for i in range(len(inp_list)):
    for j in range(len(inp_list[i])):
        if inp_list[i][j].isupper():
            inp_list[i] = inp_list[i][:j] + " " + inp_list[i][j:]
            break
    
#enumerate returns both index and the element (chat GPT)      
# for i, s in enumerate(inp_list):
#     for j, c in enumerate(s):
#         if c.isupper():
#             inp_list[i] = s[:j] + " " + s[j:]
#             break
    
print(inp_list)

['shovo Bhai', 'best For', 'machine Learning']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
inp_1 = [1,2,3,4,5,1]
inp_2 = [2,3,5,7,8]

# (inp_2.extend(i for i in inp_1 if i not in inp_2))

print(set(inp_1) | set(inp_2))

{1, 2, 3, 4, 5, 7, 8}

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [6]:
int_list = [[1,2,3],[4,5,6],[7,8,9]]
max_list = []
for short_list in int_list:
    curr_max = -932479823
    for num in short_list:
        if num > curr_max:
            curr_max = num
    max_list.append(curr_max)

print(max_list)

#shorter version
[max(lst) for lst in int_list]

[3, 6, 9]

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [14]:
inp = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]

[j for i in inp for j in i]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [30]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
[[matrix[j][i] for j in range(len(matrix[i]))] for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
[j for i in matrix for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#

###`Q16:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [40]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
sorted(test_list)

key = test_list[0][0]
temp = [test_list[0]]
res_list = []

for tup in test_list[1:]:
    if key == tup[0]:
        temp.append(tup)
    else:
        st = set()
        for a, b in temp:
               st.add(a)
               st.add(b)
        key = tup[0]
        res_list.append(tuple(st))
        temp = [tup]

st = set()
for a, b in temp:
    st.add(a)
    st.add(b)
res_list.append(tuple(st))


print(res_list)

[(8, 5, 6, 7), (10, 6), (13, 7)]

###`Q17:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
tup = (1, 5, 7, 8, 10)
res = []
for i in range(0, len(tup)):
    if i == 0 and i + 1 < len(tup):
        res.append(tup[i] * tup[i+1])
    elif i < len(tup) - 1:
        res.append(((tup[i - 1] * tup[i]) +( tup[i] * tup[i + 1])))
    elif i == len(tup) - 1:
        res.append(tup[i - 1] * tup[i])
print(res)

[5, 40, 91, 136, 80]

###`Q18`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [51]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t3 = (1,2,3,0)

print(t1 == t2)
print(t1 == t3)
print(t2 == t3)

False
True
False

###`Q19`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [52]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

list_count = 0
set_count = 0
tuple_count = 0

for ob in list1:
    if isinstance(ob, list):
        list_count += 1
    elif isinstance(ob, set):
        set_count += 1
    elif isinstance(ob, tuple):
        tuple_count += 1

print(f"List-{list_count}")
print(f"Set-{set_count}")
print(f"Tuples-{tuple_count}")

List-2
Set-2
Tuples-1

###`Q20`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Mehedi
Enter Higher Education- BSc
Enter Primary Skill- Python
Enter Year of Graduation- 2028
Enter Details of student-2
Enter Student name- Sabit
Enter Higher Education- BSc.
Enter Primary Skill- C++
Enter Year of Graduation- 2028

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- BSc
Enter Year of Graduation- 2028
```

`Output`
```
('Mehedi', 'BSc', 'Python', '2028')
```

In [53]:

student_record = []


no_rec = int(input("Enter no of records: "))
print(f"Enter No of records: {no_rec}")

for i in range(no_rec):
    print(f"Enter details of student {i}")

    name = input("Enter Student name:")
    education = input("Enter Higher Education(BSC): ")
    skill = input("Enter primary skill: ")
    grad_year = input("Enter graduation year: ")

    student_record.append((name, education, skill, grad_year))

print("Enter Job Role Requirement- ")
req_skill = input("Enter skill- ")
req_edu = input("Enter Higher Education- ")
req_grad_year = input("Enter year of graduation- ")

req_tuple = (req_edu, req_skill, req_grad_year)

is_found = False

for rec in student_record:
    if (rec[1], rec[2], rec[3]) == req_tuple:
        print(rec)
        is_found = True
        break

if not is_found:
    print("No such candidate!")

Enter No of records: 2
Enter details of student 0
Enter details of student 1
Enter Job Role Requirement-
('sabit', 'bsc', 'java', '2023')

###`Q21:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [62]:
arr1 = [1, 5, 10, 20, 40, 80]
arr2 = [6, 7, 20, 80, 100]
arr3 = [3, 4, 15, 20, 30, 70, 80, 120]

arr4 = [set(arr1) & set(arr2) & set(arr3)]
print(list(arr4[0]))

[80, 20]

###`Q22:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on machine learning mentorship progrAm with live classes by Shovo BhaIya"
```
`Output:`
```
No of unique vowels - 6
```

In [68]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
Str1 = "hands-on machine learning mentorship progrAm with live classes by Shovo BhaIya"

unique_str = set()
for c in Str1:
    if c in vowels:
        unique_str.add(c)

print(f"No of unique vowels - {len(unique_str)}")

No of unique vowels - 6

### `Q23:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "CS_SHOVO"
Output: No
```

In [71]:
def is_binary_str(st):
    unique_st = set()
    for c in st:
        unique_st.add(c)
    return len(unique_st) == 2

inp = input("Enter str: ")
print(is_binary_str(inp))

False

### `Q24`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [77]:
arr = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

res = set()

for i in arr:
    res = res | set(i)

print(list(res))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q25`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [78]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

[set(lst1) & set(lst2)]

[{9, 11, 26, 28}]

### `Q26`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CS" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "SHOVO" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CS
```

**Example 2:**

Input:
```bash
test_dict = {"CS" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "SHOVO" : [9, 9, 6, 5, 5]}
```

Output:
```bash
SHOVO
```

In [85]:
test_dict = {"CS" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "SHOVO" : [9, 9, 6, 5, 5]}

res = []
for key in test_dict:
    res.append({key, len(set(test_dict[key]))})

mx = ""
val = -34323
for a, b in res:
    if val < b:
        mx = a
        val = b
print(mx)

CS

### `Q27`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'Shovo Bhaiya best for ML Learners.'
repl_dict = {"best" : "is best", "ML" : "Machine Learning"}
```

Output:

```bash
Shovo Bhaiya is best for "Machine Learning Learners.
```

**Example 2:**

Input:
```bash
test_str = 'Shovo Bhaiya best for ML Learners.'
repl_dict = {"good" : "is  best ", "ml" : "Machine Learning"}
```

Output:
```bash
Shovo Bhaiya best for ML Learners.
```

In [86]:
test_str = 'Shovo Bhaiya best for ML Learners.'
repl_dict = {"best" : "is best", "ML" : "Machine Learning"}

for key, value in repl_dict.items():
    test_str = test_str.replace(key, value)

print(test_str)

Shovo Bhaiya is best for Machine Learning Learners.

### `Q28`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["Machine Learning", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'Machine Learning', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CS_SHOVO", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CS_SHOVO', 'id': 10}]
```

In [87]:
test_list = ["Machine Learning", 3, "is", 8]
key_list = ["name", "id"]

result = []
for i in range(0, len(test_list), len(key_list)):
    temp_dict = {}
    for j in range(len(key_list)):
        temp_dict[key_list[j]] = test_list[i + j]
    result.append(temp_dict)

print(result)

[{'name': 'Machine Learning', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q29`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("mehedi", 10), ("sabit", 12), ("habib", 14), ("arafat", 20), ("sarar", 25), ("robin", 30)]
```

Output:
```bash
{'mehedi': [10], 'sabit': [12], 'habib': [14], 'arafat': [20], 'sarar': [25], 'robin': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [88]:
test_list = [("mehedi", 10), ("sabit", 12), ("habib", 14), ("arafat", 20), ("sarar", 25), ("robin", 30)]

result_dict = {}
for name, value in test_list:
    result_dict[name] = [value]

print(result_dict)

{'mehedi': [10], 'sabit': [12], 'habib': [14], 'arafat': [20], 'sarar': [25], 'robin': [30]}

### `Q30`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
test_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

sorted_dict = {k: sorted(test_dict[k]) for k in sorted(test_dict.keys())}

print(sorted_dict)